<!DOCTYPE html>
<html>
<head>
	<title>TEST</title>
</head>
<body>
	<table style="width:100%">
		<tr>
			<th>Request ID</th>
			<th>Request Type</th>
			<th>Request Desc</th>
			<th>Request Date</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
		{% for r in reqs %}
		<tr>
			<td style="text-align: center;">{{r.id}}</td>
			<td style="text-align: center;">{{r.reqtype}}</td>
			<td style="text-align: center;">{{r.reqdesc}}</td>
			<td style="text-align: center;">{{r.reqdate}}</td>
			<td style="text-align: center;">{{r.status}}</td>
			<td style="text-align: center;"><a href="/req?id={{r.id}}">View</a><br><a href="/update?id={{r.id}}">Update</a></td>
		</tr>
		{% endfor %}
	</table>
	<br><br>
	<center>
		<a href="/new" style="text-decoration: none;">New Request</a>
	</center>
</body>
</html>